body{
    color: black;
}

.headingmain{
    text-align: right;
    margin-top: 3%;
}

.headingmain a{
    color: black;
    text-decoration: none;
    margin-right: 5%;
    font-size: larger;
}

.div{
    display: flex;
}
.content1 .content2 {
    display: flex;

}